section.car-details {
  height: $fixed-height;
  .image-container {
    @include off-white-border-bottom;
    text-align: center;
  }

  section {
    margin-top: $margin-24;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .car-info {
      width: 50%;
      min-width: 350px;
      margin-bottom: $margin-24;

      .car-name {
        font-size: 2em;
        margin-bottom: $margin-24;
      }

      .car-info {
        font-size: 1.2em;
        margin-bottom: $margin-24;
      }
    }

    .favorite-car {
      width: 30%;
      min-width: 300px;
      min-height: 130px;
      padding: $padding-24;
      position: relative;
      @include off-white-border;
    }
  }
}
