section.car-details {
  height: 800px;
  .image-container {
    border-bottom: solid 1px $off-white;
    text-align: center;
  }

  section {
    margin-top: $margin-24;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .car-info {
      width: 50%;
      min-width: 350px;
      color: $dark-gray;
      margin-bottom: $margin-24;

      .car-name {
        font-size: 2em;
        margin-bottom: $margin-24;
        color: black;
      }

      .car-info {
        font-size: 1.2em;
        margin-bottom: $margin-24;
      }
    }

    .favorite-car {
      width: 30%;
      min-width: 300px;
      min-height: 130px;
      padding: $padding-24;
      border: 1px solid $off-white;
      color: $dark-gray;
      position: relative;
    }
  }
}
