
// colors
$off-white: #EDEDED;
$white: white;
$dark-gray: #4A4A4A;
$light-orange:#EA782F;
$dark-orange:#D37324;


//padding
$padding-8: 8px;
$padding-12: 12px;
$padding-24: 24px;

//margin
$margin-8: 8px;
$margin-12: 12px;
$margin-24: 24px;
