.page-not-found {
  height: $fixed-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img.logo {
    width: $logo-width;
    height: auto;
  }

  header {
    font-size: 3em;
    font-weight: bold;
    margin:$margin-24 0;
  }

  .text {
    font-size: 1.2em;
    margin: $margin-12 0;
  }
}
