// mixins

@mixin link {
  color: $light-orange;
  text-decoration-line: none;
  &:hover {
    color: $dark-orange;
    text-decoration: underline;
  }
}

@mixin off-white-border($border-size: 1px){
  border: solid $border-size $off-white;
}

@mixin off-white-border-bottom($border-size: 1px){
  border-bottom: solid $border-size $off-white;
}

@mixin off-white-border-top($border-size: 1px){
  border-top: solid $border-size $off-white;
}

// Reset spacing for elements
* {
  padding: 0;
  margin: 0;
}

body {
  background: $white;
  font-family: "Roboto", sans-serif;
  color: $dark-gray;
}

.App {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: $light-orange;
  height: $button-height;
  width: $button-width;
  color: $white;
  font-size: 1em;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  outline: none;
  &:active {
    background-color: $dark-orange;
  }
}

.filter-dropdown {
  width: 100%;
  height: 35px;
  font-size: 1em;
  background-color: $white;
  color: $dark-gray;
}

.link {
  @include link;
  cursor: pointer;
}

.error {
  color: $red;
}

.error-box {
  clear: both;
  text-align: center;
  border: 1px solid $off-white;
  padding: $padding-24;
  margin-top: $margin-24;
}

.error-box-small {
  @extend .error-box;
  margin-top: $margin-8;
  padding: $padding-8;
}
