// colors
$off-white: #ededed;
$white: white;
$dark-gray: #4a4a4a;
$light-orange: #ea782f;
$dark-orange: #d37324;
$red: red;


//padding
$padding-8: 8px;
$padding-12: 12px;
$padding-24: 24px;

//margin
$margin-8: 8px;
$margin-12: 12px;
$margin-24: 24px;
