$placeholder-height: 20px;

.car-item {
  @include off-white-border;
  padding: $padding-12;
  margin: $margin-8 0;
  display: flex;
  min-width: 300px;
  font-size: 0.9em;

  .car-image {
    width: 60px;
    height: 40px;
    padding: $padding-12;
    margin-right: $margin-24;
    @include off-white-border;
  }

  .empty-box {
    @extend .car-image;
    background-color: $off-white;
  }

  .car-name {
    font-size: 1.4em;
  }

  .no-car-name {
    background-color: $off-white;
    width: 120px;
    height: $placeholder-height;
  }

  .car-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .no-car-details {
    background-color: $off-white;
    width: 200px;
    height: $placeholder-height;
  }

  .view-details-link {
    @include link;
  }

  .no-view-details-link {
    background-color: $off-white;
    width: 80px;
    height: $placeholder-height;
  }
}
