.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  @include off-white-border-bottom;
  margin-bottom: $margin-8;
  padding: $padding-8 0;
  height: $header-height;

  .logo {
    width: $logo-width;
    height: auto;
  }

  .header-menu {
    display: flex;
    margin-right: $margin-24;
    align-self: center;
  }

  .header-logo {
    align-self: center;
    margin-left: $margin-24;
  }

  .header-link {
    font-size: 1em;
    font-weight: bold;
    margin: 0 $margin-12;
    display: block;
    text-align: center;
    padding: $padding-8;
    text-decoration: none;
    color: $dark-gray;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    justify-content: center;
    .header-menu {
      margin: $margin-8 0 0 0;
    }
  }
}
